<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="center-xs">
      <h1>Obtener numero de votos en el escrutinio</h1>
      <form class="" action="/consultEscrutinio" method="post">
        <input type="text" name="account" value="">
        <input type="submit" name="" value="Consultar" >
      </form>
    </div>
  </body>
</html>
