<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="center-xs">
      <h3>Consultar Votante</h3>
      <form class="" action="/consultVotante" method="post">
        <input type="number" name="cc" value="">
        <input type="submit" name="" value="consultar">
      </form>
      <h1><%-salida%></h1>
    </div>
  </body>
</html>
