<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="center-xs">
      <h1>Registrar</h1>
      <form class="" action="/Registrar" method="post">
        <input type="number" name="cc" value="" placeholder="Cedula">
        <input type="submit" name="" value="registrar">
      </form>
          <h1><%-salida%></h1>
    </div>
  </body>
</html>
